# Ignore node_modules and dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Ignore build outputs
.next
out
public
dist

# Ignore local dev files
.DS_Store
*.log
.vscode
.idea
*.swp
.github
.gitignore
docker-compose.yml
docker-compose.override.yml